.layaut-main{
    margin-top: 15px;
}

.cards-info{
    width: 20rem;
}

_*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.footer{
    width: 100%;
    background: #202020;
    color: white;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
}

.row img{
    width: 60px;
    height: 60px;
}
.row label{
    margin-top: 10px;
    margin-left: 20pxs;
    color: #c7c7c7;
}

.column3{
    max-width: 400px;
}

.column3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
}

.row2 img{
    width: 40px;
    height: 40px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
}
.copyright{
    color: #c7c7c7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information{
    text-decoration: none;
    color: #c7c7c7;
}

